<html>
    <head>
        <title>Hello Mixdown!</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>

    <body>
        {{! mirrors the querystring back to the page }}
        <header>
            <h1>Hello {{def query.world def="World"}}</h1>
        </header>
        
        <p>
            You have created your first mixdown project.  Check out the following helpful projects.
        </p>
        <ul>
            <li><a href="https://github.com/mixdown/server">Mixdown Server</a>: Server and entry point for web site or service.  Not required for a CLI project.</li>
            <li><a href="https://github.com/mixdown/plugins">Mixdown Plugins</a>: Common plugins for websites.</li>
            <li><a href="https://github.com/mixdown/pipelines">Mixdown Pipelines</a>: Common task pipelines for handling request.  Pipelines are not required with mixdown, but they are very helpful for sequencing plugin actions.  Think of them as Controllers if you like.</li>
            <li><a href="https://github.com/tommydudebreaux/pipeline">Node Pipeline</a>: Lightweight task sequencing for handling complex async sequences of operations.  Similar to async.waterfall, but with a more expressive inteface and more event emitter feedback.</li>
            <li><a href="https://github.com/vast-eng/broadway-handlebars">Broadway Handlebars</a>: Broadway / Mixdown plugin for using the Handlebars template engine.  Contains factory support.  The Handlebars team has been holding off my pull request for months now so this is the best way to get factory support.  This will also work clientside.</li>
        </ul>
    </body>
</html>