<html>
  <head>
      <title>Hello Mixdown!</title>
      <meta name="viewport" content="width=device-width" />
      <meta name="viewport" content="initial-scale=1.0" />
      <link rel="stylesheet" href="/css/style.css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>
      <header>
        <a href="{{getUrl "home"}}"><h1>mixdown.js</h1></a>
        <ul id="menu">
          <li><a href="{{getUrl "getStarted"}}">Get Started</a></li>
          <li><a href="{{getUrl "docsHome"}}">Docs</a></li>
        </ul>
        <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
      </header>

      <article>
        <h2>Remixing</h2>
        <p>
          Remix is a philosophy.  Mixdown helps you remix.  <strong><a href="{{getUrl "getStarted"}}">Get Started Remixing</a></strong>
        </p>
        <p>
          <strong>Hack</strong> (create something awesome quickly) 
          <br /><strong>Without</strong>
          <br /><strong>Hacking</strong> (doing something that makes people reading your code want to throw up in their mouths)
        </p>
        <p>
          Loosely coupled plugins and modules are the core of node.js development.  Mixdown is a set of libraries that help you develop any type of application (web, cli, etc) faster and cleaner.  It can be consumed as a framework if you like or pick your components "dim-sum" style.
        </p>
      </article>

      <article>
        <section>
          <h2>Remix over refactor</h2>
          <p>
            When you write something once, you should re-use it. Mixdown is a set of components that allow you to remix open source or your custom components.
          </p>
        </section>
        <section>
          <h2>Put a plugin on it (Plugins over middleware)</h2>
          <p>
            e.g. Plugins over middleware
            <br />Small discrete packages are a core concept of npm.  Mixdown leverages flatiron/broadway for plugin interfaces.
          </p>
        </section>
        <section>
          <h2>You are the mix master</h2>
          <p>
            Plugins a discrete components. Mixdown lets you remix anything into your application. Quickly. While keeping your code clean and well-factored.
          </p>
        </section>
        <section>
          <h2>Distributed configuration (if you wanna)</h2>
          <p>
            Configuration based dependency injection allows storage of your site configuration anywhere. File system, zookeeper, any NoSql, or anywhere else you can think of. (Except carrier pigeon, but they aren't real time so you probably don't care)
          </p>
        </section>
      </article>

  </body>
</html>